* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 360px;
}

.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  min-width: 360px;
  z-index: 99;

  .container1 {
    border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
    height: 9%;
    width: 65vw;
    font-size: 0.5vw;
    .logo {
      height: 5vw;
    }
    button {
      color: wheat;
      min-width: 10vw;
      font-size: inherit;
      padding: 0.5vw 2vw;
      border: 1px solid #ffffff;
      border-radius: 25px;
      text-align: center;
      letter-spacing: 3px;
      color: #ffffff;
      text-transform: uppercase;
    }
    p {
      padding: 16px 15px 0;
      letter-spacing: 3px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}

.custom-tag {
  max-width: 100%;
  height: 40vw;

  .dark-shadow {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .banner-content {
    background-image: url("../img/1.png");
    background-color: gainsboro;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    div {
      height: 100%;

      div {
        margin-top: 9rem;
        width: 40%;
        height: auto;
        h3 {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 900;
          font-size: 3vw;
          letter-spacing: -1px;
          color: #ffffff;
          text-shadow: 0px 0px 25px #00000080;
        }

        p {
          margin: 0;
          font-family: "Roboto-Regular";
          text-align: center;
          letter-spacing: 3px;
          font-size: 0.6vw;
          padding-bottom: 5px;
          font-weight: 100;
          color: #ffffff;
          text-shadow: 0px 0px 4px #000000;
          text-transform: uppercase;
        }
        button {
          background: #d4b254 0% 0% no-repeat padding-box;
          box-shadow: 0px 2px 10px #00000033;
          border-radius: 30px;
          padding: 0.7vw 2vw;
          margin-top: 2vw;
          font-size: 0.8vw;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.first-section {
  margin-top: 1px;
  .container {
    width: 60%;
    text-align: left;
    padding-left: 0;
    margin-left: 10%;
    h3 {
      font-size: 2vw;
      letter-spacing: 0px;
      color: #222222;
    }
    h6 {
      font-size: 0.6vw;
      letter-spacing: 3px;
      color: #d4b254;
      text-transform: uppercase;
    }
    p {
      font-size: 1vw;
      letter-spacing: 0px;
      color: #777777;
    }

    button {
      background: #d4b254 0% 0% no-repeat padding-box;
      box-shadow: 0px 2px 10px #00000033;
      border-radius: 30px;
      padding: 0.7vw 2vw;
      font-size: 0.8vw;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}

.second-section {
  background-color: #eeeeee;
  width: 100%;
  .carousel {
    width: 100%;
    height: 40vw;

    .carousel-width {
      width: 40%;
      h3 {
        font-family: Helvetica, sans-serif;
        font-weight: 700;
        font-size: 2vw;
        text-align: center;
        color: #222222;
        padding: 2%;
      }

      h6 {
        font-size: 0.6vw;
        text-align: center;
        letter-spacing: 3px;
        color: #d4b254;
        text-transform: uppercase;
      }

      p {
        font-size: 1.2vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        letter-spacing: 0px;
        color: #777777;
      }

      small {
        font-family: "Roboto-Regular, Helvetica, sans-serif";
        font-size: 1vw;
        text-align: left;
        letter-spacing: 0px;
        color: #777777;
      }
      button {
        background: #d4b254 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 10px #00000033;
        border-radius: 45px;
        padding: 0.7vw 2vw;
        margin-top: 2%;
        font-size: 0.8vw;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }
  }
}

.third-section {
  width: auto;

  padding: 5% 20%;
  .content {
    height: 100%;
    h2 {
      font-family: Helvetica, sans-serif;
      font-size: 42px;
      margin: 2% 0;
      font-weight: 900;
      text-align: center;
      letter-spacing: 0px;
      color: #222222;
    }
    img {
      height: 100%;
      width: 100%;
    }

    button {
      background: #d4b254 0% 0% no-repeat padding-box;
      box-shadow: 0px 2px 10px #00000033;
      border-radius: 45px;
      padding: 0.7vw 2vw;
      margin-top: 4%;
      font-size: 0.8vw;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}

.footer {
  background-image: url("../img/6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .dark-shadow {
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;

    .content {
      width: 60%;
      margin: 40px auto 70px;
      border-bottom: rgba(255, 255, 255, 0.3) 1px solid;

      .head-footer {
        width: 100%;
        margin: 25px auto 0;
        .logo {
          position: relative;
          top: -1vw;
          height: 6em;
          span {
            position: relative;
          }

          span:after,
          span:before {
            content: "";
            position: absolute;
            height: 5px;
            border-top: rgba(255, 255, 255, 0.3) 1px solid;
            top: -0.7em;
          }
          span:before {
            width: 23vw;
            right: 100%;
          }
          span:after {
            width: 24vw;
            left: 100%;
          }
        }
      }

      .menu {
        width: 80%;
        color: #fff;
        text-align: left;
        margin-top: -3vw;
        h3 {
          font-family: Helvetica, sans-serif;
          font-weight: 700;
          line-height: 3;
        }
        p {
          font-family: Roboto-Regular, sans-serif;
          text-transform: uppercase;
          letter-spacing: 3px;
          line-height: 0.8;
        }

        .icon {
          font-size: 1em;
          width: 2em;
          height: 2em;
          background-color: white;
          padding: 5px;
          border-radius: 50%;
        }
      }
      p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 0.8em;
      }

      .copyright {
        width: 40%;
        text-align: center;
        margin: 30px auto 40px;
        font-size: 0.8em;
      }
    }
  }
}

$breakpoint-md-min: 768px;
$breakpoint-md-max: 991px;

$breakpoint-sm-min: 576px;
$breakpoint-sm-max: 767.98px;

$breakpoint-x-sm-max: 576px;

@media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-md-max) {
  .hide-md,
  .hide-md-only {
    display: none !important;
  }
}

@media (min-width: $breakpoint-sm-min) and (max-width: $breakpoint-sm-max) {
  .hide-sm,
  .hide-md {
    display: none !important;
  }
}

@media (max-width: $breakpoint-x-sm-max) {
  .hide-sm,
  .hide-md,
  .hide-xsm {
    display: none !important;
  }

  .cont-center {
    text-align: center !important;
    justify-content: center !important;
  }
}
